<%= form_for(@article, html: {multipart: true}) do |f| %>
  <ul>
  <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label "Office" %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label "Employee"%><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :tech %><br />
    <%= f.text_field :tech %>
  </p>
  <p>
    <%= f.label :descrtion %><br />
    <%= f.text_area :descrtion %>
  </p>
  <p>
    <%= f.label :resolution %><br />
    <%= f.text_area :resolution %>
  </p>
  <p>
    <%= f.label "Time to Resolution" %><br />
    <%= f.text_field :catagory %>
  </p>

  <p>
  <%= f.label "Type of Work" %><br />
  <h3><%= f.select :tag_list, ['Software Install', 'others', 'more'] %></h3>
</p>


  <p>
    <%= f.submit %>
  </p>
<% end %>
